@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p><strong>Author: </strong>@ViewData["Author"]</p>
<p><strong>Email: </strong> @ViewData["Email"]</p>
<address>
    <strong>More Informations: </strong> <a href="https://github.com/NunoGn/WebSellers"> Repositorio GitHub</a>
</address>


